form .helptext {
  justify-content: right;
  font-size: 10px;
  color: rgba(31, 126, 27, 0.623);
}

form ul:not(.errorlist) {
  display: none;
}

.login{
  margin: 10% 40% 0 40%;
  padding: 25px;
  border-radius: 15px;
  
}
.reg{
  margin: 1% 20% 0 20%;
  padding: 0 3rem 0 3rem;
  border-radius: 15px;
}
.registro{
  margin: 0 40% 0 40%;
  width: 10em
}

@media (min-width: 576px) and (max-width: 1300px){
  .login{
    margin: 20% 10% 0 10%;
    padding: 25px;
    border-radius: 15px;
    
  }
  .reg{
    margin: 1% 10% 0 10%;
    padding: 0 1rem 0 1rem;
    border-radius: 15px;
  }
  .registro{
    margin: 0 2% 0 2%;
    padding: 0 0em 0 em;
  }
} 


@media (min-width: 280px) and (max-width: 576px)  {
  .login{
    margin: 20% 10% 0 10%;
    padding: 25px;
    border-radius: 15px;
    
  }
  .reg{
    margin: 1% 10% 0 10%;
    padding: 0 1rem 0 1rem;
    border-radius: 15px;
  }
  .registro{
    margin: 0 2% 0 2%;
    padding: 0 0em 0 em;
  }
}



