{% extends 'registration/home.html' %}
{% block title%}Envio de mail{% endblock %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>Le hemos enviado un correo electrónico con las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó deberías recibirlos en breve.<br>Si no recibe un correo electrónico, asegúrese de haber ingresado correctamente la dirección con la que se registró y verifique su carpeta SPAM.</p>
  </div>

{% endblock %}