{% extends 'registration/home.html' %}
{% block title%}Envio de mail{% endblock %}

{% block content %}


  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Confirmacion de cambio de contraseña</h2>
		<hr>
        <p>Por favor ingrese su nueva contraseña</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}                    
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </form>
    </div>

{% endblock %}