{% extends 'registration/home.html' %}
{% block title%}Registrar{% endblock %}

{% block content %}

<div class="reg bg-white shadow-lg  rounded" >
    <h2>Registro de usuario</h2>
    <div class="registro">
        <form action="" method="POST" >
        {% csrf_token %}

        {{ form.email.errors }}  
            
            {{form.as_p}}
            

            

        <input type="submit" class="p-2 m-3 btn btn-primary" value="Registrar">
        </form>
    </div>  
</div>

{% endblock %}
